In [461]:
records = {1:['James','28','MBA'],
           2:['Ralph','27','LAW'],
           3:['Gerome','31','PSMDS']}

In [462]:
records.keys()

dict_keys([1, 2, 3])

In [463]:
list(records.keys())[-1]

3

In [464]:
# Create new records.
def add_record(records, details):
  new_id = list(records.keys())[-1] + 1
  records[new_id] = details
  print('new record added')

In [465]:
details = ['Jeff','20','Data Science']
add_record(records, details)

new record added

In [466]:
# Create new records (Multiple).
# (Edge case duplicate entry) Skips entries that alredy exist.
# (Edge case blank entry) Skips blank entries.
def addrecordsmultiple(records, details):
  new_id = list(records.keys())[-1]
  for i in details:
    if not i:
      print('Skipped blank entry.')
    elif i not in records.values():
      records[new_id] = i
      new_id += 1
    else:
      print(f'Duplicate entry skipped: {i}')
  print('New records added')

In [478]:
details = [
          ['Jeff','20','Data Science'],
          ['Fidel','29','Civil Engineering'],
          [],
          ['Gabrielle','31','Political Science'],
          [],
          ['Benedict','30','Cybersecurity'],
          []
          ]

addrecordsmultiple(records,details)
records

Duplicate entry skipped: ['Jeff', '20', 'Data Science']
Duplicate entry skipped: ['Fidel', '29', 'Civil Engineering']
Skipped blank entry.
Duplicate entry skipped: ['Gabrielle', '31', 'Political Science']
Skipped blank entry.
Duplicate entry skipped: ['Benedict', '30', 'Cybersecurity']
Skipped blank entry.
New records added

{1: ['James', '28', 'MBA'],
 2: ['Ralph', '27', 'LAW'],
 4: ['Fidel', 21, 'Civil Engineering'],
 5: ['Gabrielle', '31', 'Political Science'],
 6: ['Jeff', '20', 'Data Science'],
 7: ['Fidel', '29', 'Civil Engineering'],
 8: ['Benedict', '30', 'Cybersecurity']}

In [468]:
findID = 4
if findID not in records:
 print('ID not found.')
else:
 print(records[findID])

['Fidel', '29', 'Civil Engineering']

In [469]:
# Read records.
# (Edge case ID does not exist) lookup the ID and give error message ID not found if the ID does not exist.
def readrecord (records, findID):
  if findID not in records:
    return 'ID not found'
  else:
    return records[findID]

In [470]:
print(readrecord(records, 4))
print(readrecord(records, 5))

['Fidel', '29', 'Civil Engineering']
['Gabrielle', '31', 'Political Science']

In [471]:
findID = 4
index = 2
records[findID][index]

'Civil Engineering'

In [472]:
# Update records.
# (Edge case ID does not exist) lookup the ID and give error message ID not found if the ID does not exist.
def updateRecord(records,findID,index,newVal):
  if findID not in records:
    return 'ID not found'
  else:
    records[findID][index] = newVal
    print(f'Record with ID {findID} has been updated.')
    return records[findID]

In [473]:
records

{1: ['James', '28', 'MBA'],
 2: ['Ralph', '27', 'LAW'],
 3: ['Gerome', '31', 'PSMDS'],
 4: ['Fidel', '29', 'Civil Engineering'],
 5: ['Gabrielle', '31', 'Political Science'],
 6: ['Benedict', '30', 'Cybersecurity']}

In [474]:
updateRecord(records,4,1,21)
print(records)

Record with ID 4 has been updated.
{1: ['James', '28', 'MBA'], 2: ['Ralph', '27', 'LAW'], 3: ['Gerome', '31', 'PSMDS'], 4: ['Fidel', 21, 'Civil Engineering'], 5: ['Gabrielle', '31', 'Political Science'], 6: ['Benedict', '30', 'Cybersecurity']}

In [475]:
# Delete records.
def deleteRecords(records, deleteID):
  del records[deleteID]
  return records

In [476]:
deleteRecords(records, 3)

{1: ['James', '28', 'MBA'],
 2: ['Ralph', '27', 'LAW'],
 4: ['Fidel', 21, 'Civil Engineering'],
 5: ['Gabrielle', '31', 'Political Science'],
 6: ['Benedict', '30', 'Cybersecurity']}