Student Name: Joaz Ephraim A. Flores

In [18]:
"""
# Creating table into database!!!
import sqlite3
# Connect to sqlite database
conn = sqlite3.connect('students.db')
# cursor object
cursor = conn.cursor()
# drop query
cursor.execute("DROP TABLE IF EXISTS STUDENT")
# create query
query = """CREATE TABLE STUDENT(
        ID INT PRIMARY KEY NOT NULL,
        NAME CHAR(20) NOT NULL,
        ROLL CHAR(20),
        ADDRESS CHAR(50),
        CLASS CHAR(20) )"""
cursor.execute(query)
# commit and close
conn.commit()
conn.close()
"""

In [19]:
"""
import sqlite3
conn = sqlite3.connect('students.db')
conn.execute("INSERT INTO STUDENT (ID,NAME,ROLL,ADDRESS,CLASS) "
             "VALUES (1, 'John', '001', 'Bangalore', '10th')")
conn.execute("INSERT INTO STUDENT (ID,NAME,ROLL,ADDRESS,CLASS) "
             "VALUES (2, 'Naren', '002', 'Hyd', '12th')")
conn.commit()
conn.close()
"""

In [20]:
"""
import sqlite3
conn = sqlite3.connect('students.db')
query = ('INSERT INTO STUDENT (ID,NAME,ROLL,ADDRESS,CLASS) '
         'VALUES (:ID, :NAME, :ROLL, :ADDRESS, :CLASS);')
params = {
        'ID': 3,
        'NAME': 'Jax',
        'ROLL': '003',
        'ADDRESS': 'Delhi',
        'CLASS': '9th'
    }
conn.execute(query, params)
conn.commit()
conn.close()
"""

In [21]:
"""
import sqlite3
conn = sqlite3.connect('students.db')
cursor = conn.execute("SELECT * from STUDENT")
print(cursor.fetchall())
conn.close()
"""

[(1, 'John', '001', 'Bangalore', '10th'), (2, 'Naren', '002', 'Hyd', '12th'), (3, 'Jax', '003', 'Delhi', '9th')]

In [22]:
"""
import sqlite3
conn = sqlite3.connect('students.db')
conn.execute("UPDATE STUDENT set ROLL = 005 where ID = 1")
conn.commit()
cursor = conn.execute("SELECT * from STUDENT")
print(cursor.fetchall())
conn.close()
"""

[(1, 'John', '5', 'Bangalore', '10th'), (2, 'Naren', '002', 'Hyd', '12th'), (3, 'Jax', '003', 'Delhi', '9th')]

In [23]:
"""
import sqlite3
conn = sqlite3.connect('students.db')
conn.execute("DELETE from STUDENT where ID = 2;")
conn.commit()
cursor = conn.execute("SELECT * from STUDENT")
print(cursor.fetchall())
conn.close()
"""

[(1, 'John', '5', 'Bangalore', '10th'), (3, 'Jax', '003', 'Delhi', '9th')]

In [ ]:
"""
8.1.3 Supplementary Activity

For this activity, you must simulate a banking ecosystem through Python and SQLite 3. The database (banking.db) must have the following tables with the following attributes:
User:
  Customer Name
  Account Number
  Address
  Phone

This user must be able to create account, withdraw and deposit. The account table must have the following details:
Account:
  accNo
  custName
  balance

The account must be able to get updates and checked for balance. Lastly, a bank table containing the details of the bank must have the following:
Bank:
  custDetails
  loanDetails
  txNo
  txDate
  txTime

The bank must be able to give loans, update details, collect money and make transactions. Use SQLite3 for your database and incorporate Python OOP techniques to perform
the methods described. Enter your codes below.
"""

In [24]:
# Create the USER table
import sqlite3
conn = sqlite3.connect('banking.db')
cursor = conn.cursor()
cursor.execute("DROP TABLE IF EXISTS USER")
query = """CREATE TABLE USER(
           customername VARCHAR(255) NOT NULL,
           accountnumber INT NOT NULL,
           address VARCHAR(255),
           phone VARCHAR(255))"""
cursor.execute(query)
conn.commit()
conn.close()

In [38]:
# Create the ACCOUNT table
import sqlite3
conn = sqlite3.connect('banking.db')
cursor = conn.cursor()
cursor.execute("DROP TABLE IF EXISTS ACCOUNT")
query = """CREATE TABLE ACCOUNT(
           accno INT NOT NULL,
           custname VARCHAR(255) NOT NULL,
           balance FLOAT)"""
cursor.execute(query)
conn.commit()
conn.close()

In [128]:
# Create the BANK table
import sqlite3
conn = sqlite3.connect('banking.db')
cursor = conn.cursor()
cursor.execute("DROP TABLE IF EXISTS BANK")
query = """CREATE TABLE BANK(
           custdetails VARCHAR(255),
           loandetails FLOAT,
           txno INT NOT NULL,
           txdate DATE,
           txtime TIME)"""
cursor.execute(query)
conn.commit()
conn.close()

In [37]:
# sqlite3 version of DESCRIBE TABLE USER
import sqlite3
conn = sqlite3.connect('banking.db')
cursor = conn.execute("PRAGMA table_info('USER')")
print(cursor.fetchall())
conn.close()

[(0, 'customername', 'VARCHAR(255)', 1, None, 0), (1, 'accountnumber', 'INT', 1, None, 0), (2, 'address', 'VARCHAR(255)', 0, None, 0), (3, 'phone', 'VARCHAR(255)', 0, None, 0)]

In [39]:
# sqlite3 version of DESCRIBE TABLE ACCOUNT
import sqlite3
conn = sqlite3.connect('banking.db')
cursor = conn.execute("PRAGMA table_info('ACCOUNT')")
print(cursor.fetchall())
conn.close()

[(0, 'accno', 'INT', 1, None, 0), (1, 'custname', 'VARCHAR(255)', 1, None, 0), (2, 'balance', 'FLOAT', 0, None, 0)]

In [123]:
# sqlite3 version of DESCRIBE TABLE BANK
import sqlite3
conn = sqlite3.connect('banking.db')
cursor = conn.execute("PRAGMA table_info('BANK')")
print(cursor.fetchall())
conn.close()

[(0, 'custdetails', 'VARCHAR(255)', 0, None, 0), (1, 'loandetails', 'FLOAT', 0, None, 0), (2, 'txno', 'INT', 1, None, 0), (3, 'txdate', 'DATE', 0, None, 0), (4, 'txtime', 'TIME', 0, None, 0)]

In [76]:
# SHOW ALL USERS (FOR CHECKING PURPOSES)
import sqlite3
conn = sqlite3.connect('banking.db')
cursor = conn.cursor()
cursor.execute("SELECT * FROM USER")
for record in cursor.fetchall():
  print(record)
conn.close()

('Joaz Flores', 123456789, 'Quezon City', '+63 9999999999')

In [55]:
# CREATE USER
import sqlite3
conn = sqlite3.connect('banking.db')
def create_user(customername, accountnumber, address, phone):
    conn.execute(f"INSERT INTO USER (customername, accountnumber, address, phone) VALUES ('{customername}', {accountnumber}, '{address}', '{phone}')")
    conn.commit()
    print(f"User {customername} created with Acc No. {accountnumber}.")
    conn.close()

name = "John Doe"
account = "223456789"
address = "Makati City"
phone = "+63 7777777777"

create_user(name, account, address, phone)

User John Doe created with Acc No. 223456789.

In [69]:
# READ USER DETAILS (CAN SHOW MULTIPLE USERS)
import sqlite3
conn = sqlite3.connect('banking.db')
def get_user(accountnumber):
    cursor = conn.execute(f"SELECT customername, accountnumber, address, phone FROM USER WHERE accountnumber IN ({accountnumber})")
    for record in cursor.fetchall():
      print(record)
    conn.close()

acc_no = "123456789"

get_user(acc_no)

('Joaz Flores', 123456789, 'Quezon City', '+63 9999999999')

In [53]:
# UPDATE USER DETAILS DYNAMIC VERSION
import sqlite3
conn = sqlite3.connect('banking.db')
def update_user(accountnumber, customername=None, address=None, phone=None):
    # Start with a base query
    query = "UPDATE USER SET "
    updates = []

    # Add fields to the query if they are not None
    if customername:
        updates.append(f"customername='{customername}'")
    if address:
        updates.append(f"address='{address}'")
    if phone:
        updates.append(f"phone='{phone}'")

    # Join the updates with commas
    updates_clause = ", ".join(updates)

    # Add the WHERE clause
    query += updates_clause + f" WHERE accountnumber={accountnumber}"

    # Execute the query
    conn.execute(query)
    conn.commit()
    print(f"Details updated for Account Number: {accountnumber}")
    conn.close()

account = "123456789"
name = ""
address = "Quezon City"
phone = ""

update_user(account, name, address, phone)

Details updated for Account Number: 123456789

In [71]:
# DELETE USER
import sqlite3
conn = sqlite3.connect('banking.db')
def delete_user(accountnumber):
    conn.execute(f"DELETE FROM USER WHERE accountnumber={accountnumber}")
    conn.commit()
    print(f"User with Account Number: {accountnumber} has been deleted.")
    conn.close()

account = "223456789"

delete_user(account)

User with Account Number: 223456789 has been deleted.

In [110]:
# SHOW ALL ACCOUNTS (FOR CHECKING PURPOSES)
import sqlite3
conn = sqlite3.connect('banking.db')
cursor = conn.cursor()
cursor.execute("SELECT * FROM ACCOUNT")
for record in cursor.fetchall():
  print(record)
conn.close()

In [111]:
# CREATE USER WITH INITAL BALANCE TO ACCOUNT
import sqlite3
conn = sqlite3.connect('banking.db')
def create_balance(accno, custname, balance):
    conn.execute(f"INSERT INTO ACCOUNT (accno, custname, balance) VALUES ('{accno}', '{custname}', '{balance}')")
    conn.commit()
    print(f"Created user {accno} with balance {balance:.2f}.")
    conn.close()

accno = "123456789"
custname = "Joaz Flores"
balance =  "10079.89"

create_balance(accno, custname, balance)

Created user 123456789 with balance 10079.89.

In [112]:
# WITHDRAW AND UPDATE BALANCE IN ACCOUNT
import sqlite3
conn = sqlite3.connect('banking.db')
def withdraw_balance(accno, withdraw):
    conn.execute(f"UPDATE ACCOUNT SET balance = balance - '{withdraw}' WHERE accno={accno}")
    conn.commit()
    print(f"Withdrawal with the amount of {withdraw} is successful for Account Number: {accno}.")
    cursor = conn.cursor()
    cursor.execute(f"SELECT balance FROM ACCOUNT WHERE accno = '{accno}'")
    new_balance = cursor.fetchone()[0]
    print(f"Your new balance is {new_balance:.2f}.")
    conn.close()

accno = "123456789"
withdraw = "6000"

withdraw_balance(accno, withdraw)

Withdrawal with the amount of 6000 is successful for Account Number: 123456789.
Your new balance is 4079.89.

In [113]:
# DEPOSIT AND UPDATE BALANCE IN ACCOUNT
import sqlite3
conn = sqlite3.connect('banking.db')
def deposit_balance(accno, deposit):
    conn.execute(f"UPDATE ACCOUNT SET balance = balance + '{deposit}' WHERE accno={accno}")
    conn.commit()
    print(f"Deposit with the amount of {deposit} is successful for Account Number: {accno}.")
    cursor = conn.cursor()
    cursor.execute(f"SELECT balance FROM ACCOUNT WHERE accno = '{accno}'")
    new_balance = cursor.fetchone()[0]
    print(f"Your new balance is {new_balance:.2f}.")
    conn.close()

accno = "123456789"
deposit = "4000.99"

deposit_balance(accno, deposit)

Deposit with the amount of 4000.99 is successful for Account Number: 123456789.
Your new balance is 8080.88.

In [114]:
# CHECK CURRENT BALANCE
import sqlite3
conn = sqlite3.connect('banking.db')
def check_balance(accno):
  cursor= conn.cursor()
  cursor.execute(f"SELECT balance FROM ACCOUNT WHERE accno = '{accno}'")
  current_balance = cursor.fetchone()[0]
  print(f"Your current balance is {current_balance:.2f}.")
  conn.close()

accno = "123456789"

check_balance(accno)

Your current balance is 8080.88.

In [109]:
# DELETE ACCOUNT
import sqlite3
conn = sqlite3.connect('banking.db')
def delete_account(accno):
    conn.execute(f"DELETE FROM ACCOUNT WHERE accno = {accno}")
    conn.commit()
    print(f"Account for Account Number: {accno} has been deleted.")
    conn.close()

account = "123456789"

delete_account(account)

Account for Account Number: 123456789 has been deleted.

In [149]:
# SHOW ALL BANK LOANS (FOR CHECKING PURPOSES)
import sqlite3
conn = sqlite3.connect('banking.db')
cursor = conn.cursor()
cursor.execute("SELECT * FROM BANK")
for record in cursor.fetchall():
  print(record)
conn.close()

In [150]:
# CREATE BANK LOAN
import sqlite3
conn = sqlite3.connect('banking.db')
def create_loan(custdetails, loandetails, txno, txdate, txtime):
    conn.execute(f"INSERT INTO BANK (custdetails, loandetails, txno, txdate, txtime) VALUES ('{custdetails}', '{loandetails}', '{txno}', '{txdate}', '{txtime}')")
    conn.commit()
    print(f"Bank loan granted to Accnount Number {custdetails} with the amount of {loandetails}. Your transaction number is {txno} on {txdate} {txtime}.")
    conn.close()

custdetails = "123456789"
loandetails = "200000.00"
txno = "12345"
txdate = "2024-11-26" # YYYY-MM-DD
txtime = "07:08:01" # HH:MI:SS

create_loan(custdetails, loandetails, txno, txdate, txtime)

Bank loan granted to Accnount Number 123456789 with the amount of 200000.00. Your transaction number is 12345 on 2024-11-26 07:08:01.

In [151]:
# PAY BANK LOAN
import sqlite3
conn = sqlite3.connect('banking.db')
def pay_loan(custdetails, payment, txno, txdate, txtime):
    conn.execute(f"UPDATE BANK SET loandetails = loandetails - '{payment}' WHERE custdetails = '{custdetails}'")
    conn.commit()
    print(f"Payment with the amount of {payment} is successful for Account Number: {custdetails}. Your transaction number is {txno} on {txdate} {txtime}.")
    cursor = conn.cursor()
    cursor.execute(f"SELECT loandetails FROM BANK WHERE custdetails = '{custdetails}'")
    remaining_loan = cursor.fetchone()[0]
    print(f"Your remaining payment is {remaining_loan:.2f}.")
    conn.close()

custdetails = "123456789"
payment = "20000.00"
txno = "12345"
txdate = "2025-02-15" # YYYY-MM-DD
txtime = "10:08:01" # HH:MI:SS

pay_loan(custdetails, payment, txno, txdate, txtime)

Payment with the amount of 20000.00 is successful for Account Number: 123456789. Your transaction number is 12345 on 2025-02-15 10:08:01.
Your remaining payment is 180000.00.

In [152]:
# GET ADDITIONAL BANK LOAN
import sqlite3
conn = sqlite3.connect('banking.db')
def pay_loan(custdetails, payment, txno, txdate, txtime):
    conn.execute(f"UPDATE BANK SET loandetails = loandetails + '{payment}' WHERE custdetails = '{custdetails}'")
    conn.commit()
    print(f"Payment with the amount of {payment} is successful for Account Number: {custdetails}. Your transaction number is {txno} on {txdate} {txtime}.")
    cursor = conn.cursor()
    cursor.execute(f"SELECT loandetails FROM BANK WHERE custdetails = '{custdetails}'")
    remaining_loan = cursor.fetchone()[0]
    print(f"Your remaining payment is {remaining_loan:.2f}.")
    conn.close()

custdetails = "123456789"
payment = "40000.00"
txno = "12345"
txdate = "2025-04-20" # YYYY-MM-DD
txtime = "09:08:01" # HH:MI:SS

pay_loan(custdetails, payment, txno, txdate, txtime)

Payment with the amount of 40000.00 is successful for Account Number: 123456789. Your transaction number is 12345 on 2025-04-20 09:08:01.
Your remaining payment is 220000.00.

In [148]:
# DELETE BANK LOAN
import sqlite3
conn = sqlite3.connect('banking.db')
def delete_loan(custdetails):
    conn.execute(f"DELETE FROM BANK WHERE custdetails = '{custdetails}'")
    conn.commit()
    print(f"Bank loan for Account Number: {custdetails} has been deleted.")
    conn.close()

account = "123456789"

delete_loan(account)

Bank loan for Account Number: 123456789 has been deleted.

**Conclusion:** SQL and Python can work hand in hand to create a powerful combination of codes and functions to work with large datasets. SQL is a powerful tool that is build to manage databases and combining that with python that is a powerful tool in data analysis and data wrangling among other things. When combined there is so much potential that can be done without the use of paid proprietary products which can be costly and might have legal issues if misused. These exercises are a great way to know and practice how to integrate both SQL and Python for more functionality and flexibility.