In [ ]:
#STUDENT NAME: Joaz Ephraim A. Flores

#Assignment 6.1 Introduction to Data Analysis
#6.2. Supplementary Activity

In [19]:
#Run the given code and generate a list of 100 values.
import random
random.seed(0)
salaries = [round(random.random()*1000000, -3) for _ in range(100)]

salaries

[844000.0,
 758000.0,
 421000.0,
 259000.0,
 511000.0,
 405000.0,
 784000.0,
 303000.0,
 477000.0,
 583000.0,
 908000.0,
 505000.0,
 282000.0,
 756000.0,
 618000.0,
 251000.0,
 910000.0,
 983000.0,
 810000.0,
 902000.0,
 310000.0,
 730000.0,
 899000.0,
 684000.0,
 472000.0,
 101000.0,
 434000.0,
 611000.0,
 913000.0,
 967000.0,
 477000.0,
 865000.0,
 260000.0,
 805000.0,
 549000.0,
 14000.0,
 720000.0,
 399000.0,
 825000.0,
 668000.0,
 1000.0,
 494000.0,
 868000.0,
 244000.0,
 325000.0,
 870000.0,
 191000.0,
 568000.0,
 239000.0,
 968000.0,
 803000.0,
 448000.0,
 80000.0,
 320000.0,
 508000.0,
 933000.0,
 109000.0,
 551000.0,
 707000.0,
 547000.0,
 814000.0,
 540000.0,
 964000.0,
 603000.0,
 588000.0,
 445000.0,
 596000.0,
 385000.0,
 576000.0,
 290000.0,
 189000.0,
 187000.0,
 613000.0,
 657000.0,
 477000.0,
 90000.0,
 758000.0,
 877000.0,
 923000.0,
 842000.0,
 898000.0,
 923000.0,
 541000.0,
 391000.0,
 705000.0,
 276000.0,
 812000.0,
 849000.0,
 895000.0,
 590000.0,
 950000.0,
 580000.0,
 451000.0,
 660000.0,
 996000.0,
 917000.0,
 793000.0,
 82000.0,
 613000.0,
 486000.0]

In [ ]:
#Exercise 1
#Using the generated data, calculate the following statistics without importing anything from the statistics module in the standard library (and without using pandas and/numpy).
#Once you have computed for each, compare your obtained output with the output when using the statistics module.

In [129]:
#Mean without import package
def mean(sum, count):
    m = sum/count
    return m

a = sum(salaries)
b = len(salaries)

mean(a, b)

585690.0

In [47]:
#Mean with import package
import statistics as st
mean = st.mean(salaries)
print(mean)

585690.0

In [141]:
#Median without import package
#Since the length of the list is 100(Even) I need to get the average of the 2 middle values.
def median(list):
    sorted_list = sorted(list)
    count = len(sorted_list)
    m1 = sorted_list[count // 2 - 1]
    m2 = sorted_list[count // 2]
    return (m1 + m2) / 2

median(salaries)

589000.0

In [49]:
#Median with import package
import statistics as st
median = st.median(salaries)
print(median)

589000.0

In [169]:
#Mode without import package
def mode(list):
    frequency = {}
    max_count = 0
    most_frequent_item = None
    
    for item in list:
        if item in frequency:
            frequency[item] += 1
        else:
            frequency[item] = 1
        
        if frequency[item] > max_count:
            max_count = frequency[item]
            most_frequent_item = item
    
    return most_frequent_item

mode(salaries)

477000.0

In [139]:
#Mode with import package
import statistics as st
mode = st.mode(salaries)
mode

477000.0

In [285]:
#Sample Variance without import package
data = salaries

count = len(data)
mean = sum(data) / count

sum_squared_diff = sum((x - mean) ** 2 for x in data)

sample_variance = sum_squared_diff / (n - 1)

sample_variance

70664054444.44444

In [171]:
#Sample Variance with import package
import statistics as st
variance = st.variance(salaries)
variance

70664054444.44444

In [297]:
#Sample Variance Standard Deviation without import package
data = salaries

count = len(data) 
mean = sum(data) / count 

sum_squared_diff = sum((x - mean) ** 2 for x in data)

sample_variance = sum_squared_diff / (count - 1)

sample_standard_deviation = sample_variance ** 0.5

sample_standard_deviation

265827.11382484

In [173]:
#Sample Variance Standard Deviation with import package
import statistics as st
standard_dev = st.stdev(salaries)
standard_dev

265827.11382484

In [ ]:
#Exercise 2
#Using the previously generated data, calculate the following statistics using the functions in the statistics module where appropriate.

In [189]:
#Range (The difference between the highest and lowest values.)
range = max(salaries) - min(salaries)
range

995000.0

In [203]:
#Coefficient of Variation (Standard Deviation/Mean)
import statistics as st
a = st.stdev(salaries)
b = st.mean(salaries)
cv = (a/b)*100
cv

45.38699889443903

In [305]:
#Interquartile Range
import numpy as np

data = salaries

Q1 = np.percentile(data, 25)  
Q3 = np.percentile(data, 75)  

IQR = Q3 - Q1

IQR

413250.0

In [309]:
#Quartile coefficient of dispersion
import numpy as np

data = salaries

Q1 = np.percentile(data, 25)  
Q3 = np.percentile(data, 75) 

QCD = (Q3 - Q1) / (Q3 + Q1)

QCD

0.338660110633067

In [207]:
#Exercise 3
#Load the diabetes.csv file and perform the following tasks.
import pandas as pd
df = pd.read_csv("diabetes.csv")

In [213]:
#Identify the column names
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [211]:
#Identify the data types of the data
df.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [215]:
#Display the total number of records
len(df)

768

In [221]:
#Display the first 20 records
df.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
15,7,100,0,0,0,30.0,0.484,32,1
16,0,118,84,47,230,45.8,0.551,31,1
17,7,107,74,0,0,29.6,0.254,31,1
18,1,103,30,38,83,43.3,0.183,33,0
19,1,115,70,30,96,34.6,0.529,32,1

In [223]:
#Display the last 20 records
df.tail(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
748,3,187,70,22,200,36.4,0.408,36,1
749,6,162,62,0,0,24.3,0.178,50,1
750,4,136,70,0,0,31.2,1.182,22,1
751,1,121,78,39,74,39.0,0.261,28,0
752,3,108,62,24,0,26.0,0.223,25,0
753,0,181,88,44,510,43.3,0.222,26,1
754,8,154,78,32,0,32.4,0.443,45,1
755,1,128,88,39,110,36.5,1.057,37,1
756,7,137,90,41,0,32.0,0.391,39,0
757,0,123,72,0,0,36.3,0.258,52,1
758,1,106,76,0,0,37.5,0.197,26,0
759,6,190,92,0,0,35.5,0.278,66,1
760,2,88,58,26,16,28.4,0.766,22,0
761,9,170,74,31,0,44.0,0.403,43,1
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [227]:
#Change the Outcome column to Diaqnosis
df.rename(columns={'Outcome': 'Diagnosis'}, inplace=True)
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [249]:
#Create a new column Classification that display "Diabetes" if the value of outcome(diagnosis) is 1, otherwise "No Diabetes".
import numpy as np

df['Classification'] = np.where(df['Diagnosis'] == 1, "Diabetes", "No Diabetes")

df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis,Classification
0,6,148,72,35,0,33.6,0.627,50,1,Diabetes
1,1,85,66,29,0,26.6,0.351,31,0,No Diabetes
2,8,183,64,0,0,23.3,0.672,32,1,Diabetes
3,1,89,66,23,94,28.1,0.167,21,0,No Diabetes
4,0,137,40,35,168,43.1,2.288,33,1,Diabetes
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,No Diabetes
764,2,122,70,27,0,36.8,0.340,27,0,No Diabetes
765,5,121,72,23,112,26.2,0.245,30,0,No Diabetes
766,1,126,60,0,0,30.1,0.349,47,1,Diabetes
767,1,93,70,31,0,30.4,0.315,23,0,No Diabetes

In [251]:
#Create a new dataframe "withDiabetes" that gathers data with diabetes.
withDiabetes = df[df['Classification'] == 'Diabetes']
withDiabetes

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis,Classification
0,6,148,72,35,0,33.6,0.627,50,1,Diabetes
2,8,183,64,0,0,23.3,0.672,32,1,Diabetes
4,0,137,40,35,168,43.1,2.288,33,1,Diabetes
6,3,78,50,32,88,31.0,0.248,26,1,Diabetes
8,2,197,70,45,543,30.5,0.158,53,1,Diabetes
...,...,...,...,...,...,...,...,...,...,...
755,1,128,88,39,110,36.5,1.057,37,1,Diabetes
757,0,123,72,0,0,36.3,0.258,52,1,Diabetes
759,6,190,92,0,0,35.5,0.278,66,1,Diabetes
761,9,170,74,31,0,44.0,0.403,43,1,Diabetes
766,1,126,60,0,0,30.1,0.349,47,1,Diabetes

In [253]:
#Create a new dataframe "noDiabetes" that gathers data with no diabetes.
noDiabetes = df[df['Classification'] == 'No Diabetes']
noDiabetes

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis,Classification
1,1,85,66,29,0,26.6,0.351,31,0,No Diabetes
3,1,89,66,23,94,28.1,0.167,21,0,No Diabetes
5,5,116,74,0,0,25.6,0.201,30,0,No Diabetes
7,10,115,0,0,0,35.3,0.134,29,0,No Diabetes
10,4,110,92,0,0,37.6,0.191,30,0,No Diabetes
...,...,...,...,...,...,...,...,...,...,...
762,9,89,62,0,0,22.5,0.142,33,0,No Diabetes
763,10,101,76,48,180,32.9,0.171,63,0,No Diabetes
764,2,122,70,27,0,36.8,0.340,27,0,No Diabetes
765,5,121,72,23,112,26.2,0.245,30,0,No Diabetes
767,1,93,70,31,0,30.4,0.315,23,0,No Diabetes

In [259]:
#Create a new dataframe "Pedia" that gathers data with age 0 to 19.
Pedia = df[df['Age'] <= 19]
Pedia

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Diagnosis, Classification]
Index: []

In [261]:
#Create a new dataframe "Adult" that gathers data with age greater than 19.
Adult = df[df['Age'] >= 19]
Adult

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis,Classification
0,6,148,72,35,0,33.6,0.627,50,1,Diabetes
1,1,85,66,29,0,26.6,0.351,31,0,No Diabetes
2,8,183,64,0,0,23.3,0.672,32,1,Diabetes
3,1,89,66,23,94,28.1,0.167,21,0,No Diabetes
4,0,137,40,35,168,43.1,2.288,33,1,Diabetes
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,No Diabetes
764,2,122,70,27,0,36.8,0.340,27,0,No Diabetes
765,5,121,72,23,112,26.2,0.245,30,0,No Diabetes
766,1,126,60,0,0,30.1,0.349,47,1,Diabetes
767,1,93,70,31,0,30.4,0.315,23,0,No Diabetes

In [277]:
#Use numpy to get the median age and glucose value.
median_age = np.median(df['Age'])
print(f"Median Age = {median_age}")
median_glucose = np.median(df['Glucose'])
print(f"Median Glucose = {median_glucose}")

Median Age = 29.0
Median Glucose = 117.0

In [279]:
#Use numpy to get the middle values(Median?) of glucose and age.
median_age = np.median(df['Age'])
print(f"Median Age = {median_age}")
median_glucose = np.median(df['Glucose'])
print(f"Median Glucose = {median_glucose}")

Median Age = 29.0
Median Glucose = 117.0

In [281]:
#Use numpy to get the standard deviation of the skinthickness.
standard_dev = np.std(df['SkinThickness'])
print(f"Standard Deviation = {standard_dev}")

Standard Deviation = 15.941828626496978

In [ ]:
#6.3 Conclusion

#Python has many packages that makes cleaning, manipulating, and analyzing data easier and more efficient.
#Python also has packages that allow for reading data inside files like csv and excel which is useful for analyzing datasets.